body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #ffffff; /* Dark background */
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 20px;
}

h2 {
  margin-bottom: 10px;
  color:#fff;
}

#map-container {
  width: 100%;
  max-width: 900px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#indiaMap {
  width: 100%;
  height: 100vh;   /* Full height viewport */
  display: block;
  border: none;
  margin-left: 240px;
  color:aqua;
}


#info-box {
  margin-top: 20px;
  padding: 15px;
  border: 2px solid #333;
  width: 50%;
  margin: auto;
  background: #fff;
  color: #000;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.3);
}
